{# Template for the application's homepage, extending base.html. #}

{% extends 'survey_app/base.html' %}

{% block title %}
Welcome - Student Survey
{% endblock %}

{% block content %}
<div class="jumbotron bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Welcome to the GMU Student Survey</h1>
  <p class="lead">Thank you for visiting. Please select one of the options below.</p>
  <hr class="my-4">
  <p>You can take the survey to share your experience or view the results submitted by others.</p>
  <a class="btn btn-primary btn-lg me-2" href="{% url 'survey_new' %}" role="button">Take the Survey</a>
  <a class="btn btn-secondary btn-lg" href="{% url 'survey_list' %}" role="button">View Survey Results</a>
</div>
{% endblock %} 